alabaster==0.7.12
arrow==0.15.5
astroid==2.3.3
attrs==19.3.0
awscli==1.18.21
Babel==2.8.0
backcall==0.1.0
binaryornot==0.4.4
bleach==3.1.1
botocore==1.15.21
certifi==2019.11.28
chardet==3.0.4
click==7.1.1
colorama==0.4.3
cookiecutter==1.7.0
coverage==5.0.3
decorator==4.4.2
defusedxml==0.6.0
docutils==0.16
entrypoints==0.3
flake8==3.7.9
future==0.18.2
idna==2.9
imagesize==1.2.0
importlib-metadata==1.5.0
ipykernel==5.1.4
ipython==7.13.0
ipython-genutils==0.2.0
isort==4.3.21
jedi==0.16.0
Jinja2==2.11.1
jinja2-time==0.2.0
jmespath==0.9.5
jsonschema==3.2.0
jupyter-client==6.0.0
jupyter-contrib-core==0.3.3
jupyter-core==4.6.3
jupyter-nbextensions-configurator==0.4.1
lazy-object-proxy==1.4.3
MarkupSafe==1.1.1
mccabe==0.6.1
mistune==0.8.4
nbconvert==5.6.1
nbformat==5.0.4
notebook==6.0.3
numpy==1.18.1
packaging==20.3
pandas==1.0.1
pandocfilters==1.4.2
parso==0.6.2
path==13.2.0
pickleshare==0.7.5
poyo==0.5.0
prometheus-client==0.7.1
prompt-toolkit==3.0.4
pyasn1==0.4.8
pycodestyle==2.5.0
pyflakes==2.1.1
Pygments==2.6.1
pylint==2.4.4
pyparsing==2.4.6
pyrsistent==0.15.7
python-dateutil==2.8.1
python-dotenv==0.12.0
pytz==2019.3
pywin32==227
pywinpty==0.5.7
PyYAML==5.3
pyzmq==19.0.0
requests==2.23.0
rsa==3.4.2
s3transfer==0.3.3
Send2Trash==1.5.0
six==1.14.0
snowballstemmer==2.0.0
Sphinx==2.4.4
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==1.0.3
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.4
-e git+https://github.com/howewenann/lending_club.git@905fbf6d30187d95e6f02d61a30ca142dc1b056d#egg=src
terminado==0.8.3
testpath==0.4.4
tornado==6.0.4
traitlets==4.3.3
urllib3==1.25.8
wcwidth==0.1.8
webencodings==0.5.1
whichcraft==0.6.1
wincertstore==0.2
wrapt==1.11.2
zipp==3.1.0
